<div class="container" style="display: none;">
    <div class="card appointment-list">
        <div class="card-block">
            <h5 class="card-title">Please choose your appointment?</h5>
            <div class="row justify-content-center">
                <div class="col-11 list-parent">
                    <table class="table" id="appointment-list">
                        <tbody>
                        {# Content will be filled by API.js on Session Start #}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-6">
                    <button type="button" class="btn btn-primary" onclick="apptNotFound()">Not on this list?</button>
                </div>
            </div>
        </div>
    </div>
</div>