<div class="container" style="display: none;">
    <div class="card appointment-detail">
        <div class="card-block">
            <h5 class="card-title">Is this you?</h5>
            <div class="row justify-content-center">
                <div class="col-10 info-parent">
                    <div class="row">
                        <div class="col-5">Appointment Time:</div>
                        <div class="col-7 appt-time">11:00AM</div>
                    </div>
                    <div class="row">
                        <div class="col-5">Appointment For:</div>
                        <div class="col-7 appt-type">ParScore</div>
                    </div>
                    <div class="row">
                        <div class="col-5">Your Name:</div>
                        <div class="col-7 appt-own-name">Doe, J.</div>
                    </div>
                    <div class="row">
                        <div class="col-5">Your RedID:</div>
                        <div class="col-7 appt-own-id">*******02</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-primary" onclick="showAppointmentList()">No</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary finish-button" onclick="logAppointment(this)">Yes!</button>
                </div>
            </div>
        </div>
    </div>
</div>