<div class="container" style="display: none;">
    <div class="card confirmation">
        <div class="card-block">
            <h4 class="card-title">Thanks!</h4>
            <h6 class="card-subtitle mb-2">
                <span id="quoteText">Books are the blessed chloroform of the mind.</span>
                <br>~ <span id="quoteAuthor">Oswald Chambers</span>
            </h6>
        </div>
    </div>
</div>
