{% include "header.twig" %}

{% include "welcome.twig" %}
{% include "type.twig" %}
{% include "appointment-list.twig" %}
{% include "appointment-detail.twig" %}
{% include "acuity-scheduler.twig" %}
{% include "id-entry.twig" %}
{% include "goal.twig" %}
{% include "confirmation.twig" %}

<div style="display: none">
    <button type="button"
            class="btn btn-primary"
            id="back-button"
            onclick="previous()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        &nbsp; Back
    </button>
</div>

{% include "footer.twig" %}