<div class="container" style="display: none;">
    <div class="card type">
        <div class="card-block">
            <h5 class="card-title">Do you have an appointment<br>
                with us today?</h5>
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-primary" onclick="showAppointmentList(this)">Yes</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary" onclick="showIDEntry(this)">No</button>
                </div>
            </div>
        </div>
    </div>
</div>