<div class="container" onclick="showTypeSelect()">
    <div class="card welcome">
        <div class="card-block">
            <h4 class="card-title">Welcome!</h4>
            <h6 class="card-subtitle mb-2">Tap the screen to get started</h6>
            <img class="logo" src="assets/images/logo.png">
        </div>
    </div>
</div>
