<div class="container" style="display: none">
    <div class="card confirmation">
        <div class="card-block">
            <h4 class="card-title">All Set!</h4>
            <h6 class="card-subtitle mb-2">
                You have been Clocked <span id="clock-result">Down</span>.
            </h6>
        </div>
    </div>
</div>
